<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.RegisterServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.CustomerLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.AddDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/add-driver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageDriverServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.ManageDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageDriverServlet</servlet-name>
        <url-pattern>/manage-driver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.DriverDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <url-pattern>/driver-dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageVehicleServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.ManageVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageVehicleServlet</servlet-name>
        <url-pattern>/manage-vehicle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewEditVehicleServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.ViewEditVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEditVehicleServlet</servlet-name>
        <url-pattern>/view-edit-vehicle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PromoCodeServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.PromoCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PromoCodeServlet</servlet-name>
        <url-pattern>/promo-code-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PricingServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.PricingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PricingServlet</servlet-name>
        <url-pattern>/pricing-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.DiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/discount-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.BookingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.ConfirmBookingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <url-pattern>/confirm-booking</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.example.megacitycab.listener.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.CustomerDashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <url-pattern>/customer-dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageBookingServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.ManageBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBookingServlet</servlet-name>
        <url-pattern>/manage-bookings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controller.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/admin/cancel-booking</url-pattern>
    </servlet-mapping>

</web-app>